In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
# Create the connection
cnx = sqlite3.connect(r'bot_data_latest.db')

# create the dataframe from a query
df_videos = pd.read_sql_query("SELECT * FROM videos", cnx)
df_chnnels = pd.read_sql_query("SELECT * FROM channels", cnx)

In [3]:
df_videos.head()

,video_id,channel_id,name,description,published
0,PMnnbFfoQiw,UCjry95m1BJizBQM8CB-tcng,Diamond Platnumz Ft Koffi Olomide - Waah! (cover),Performed by Anstello.\nAnstello is a talented...,2020-12-19 14:30:13.000000
1,m0XPxnpqgz8,UCjry95m1BJizBQM8CB-tcng,Regina - Otile Brown x Jux (Cover),Performed by Sam.\n\nProduced by Hetch Shawn &...,2020-11-22 13:00:10.000000
2,HoxuyBLd8F8,UCjry95m1BJizBQM8CB-tcng,MWENYE NYAGA Cover,Performed by James.\n\nWe are the best Music S...,2020-09-13 15:15:09.000000
3,5gqKoCnkp4I,UCjry95m1BJizBQM8CB-tcng,Sauti Sol - Suzanna (Live Cover),Eric Mbeda is a talented singer.\nBeing a big ...,2020-02-09 06:56:14.000000
4,nZIkh17LsEE,UCjry95m1BJizBQM8CB-tcng,Ann & Victor,We are the best Music School in Kenya committe...,2020-02-02 19:44:58.000000

In [4]:
df_chnnels.head()

,channel_id,name,description,category
0,UCjry95m1BJizBQM8CB-tcng,5STAR NAIROBI MUSIC ACADEMY,We are the best Music School in Kenya committe...,music
1,UCf5bBfrJIESRONRADe7XBtA,Abbas Kubaff,The official home channel of Kenyan hip hop ar...,music
2,UCfshy73dZJqp-OmSGPZ_gjg,ABSENCE OF LIGHT,"ABSENCE OF LIGHT is an Extreme Metal Act, Cons...",music
3,UC8NZHJl-gfDZxbBvmL0vCXQ,Akothee Kenya,Independent African Queen ready to take you pl...,music
4,UC_VMOo10q4SUmxkNLdcIqzw,antoneosoul,Kenyaâ€™s finest vocalist \nAward Winning Musici...,music

In [5]:
combined_df = df_videos.join(df_chnnels.set_index('channel_id')[['name', 'category']], on='channel_id', lsuffix="_video", rsuffix="_channel")
combined_df

,video_id,channel_id,name_video,description,published,name_channel,category
0,PMnnbFfoQiw,UCjry95m1BJizBQM8CB-tcng,Diamond Platnumz Ft Koffi Olomide - Waah! (cover),Performed by Anstello.\nAnstello is a talented...,2020-12-19 14:30:13.000000,5STAR NAIROBI MUSIC ACADEMY,music
1,m0XPxnpqgz8,UCjry95m1BJizBQM8CB-tcng,Regina - Otile Brown x Jux (Cover),Performed by Sam.\n\nProduced by Hetch Shawn &...,2020-11-22 13:00:10.000000,5STAR NAIROBI MUSIC ACADEMY,music
2,HoxuyBLd8F8,UCjry95m1BJizBQM8CB-tcng,MWENYE NYAGA Cover,Performed by James.\n\nWe are the best Music S...,2020-09-13 15:15:09.000000,5STAR NAIROBI MUSIC ACADEMY,music
3,5gqKoCnkp4I,UCjry95m1BJizBQM8CB-tcng,Sauti Sol - Suzanna (Live Cover),Eric Mbeda is a talented singer.\nBeing a big ...,2020-02-09 06:56:14.000000,5STAR NAIROBI MUSIC ACADEMY,music
4,nZIkh17LsEE,UCjry95m1BJizBQM8CB-tcng,Ann & Victor,We are the best Music School in Kenya committe...,2020-02-02 19:44:58.000000,5STAR NAIROBI MUSIC ACADEMY,music
...,...,...,...,...,...,...,...
18891,XFQiNVWqZJc,UCjG66-ryVCszrs7k_Y2pn3Q,DISOBEYING AFRICAN MUMS INFRONT OF VISITORSðŸ’€,,2022-06-16 08:45:10.000000,Flaqo Raz,uncategorised
18892,kHfEfFh8Wjw,UCoqhYEFzLMs2KYdih18I3yQ,M-Pesa GlobalPay | Secure Payment On Global We...,"Introducing M-Pesa GlobalPay, a virtual Visa c...",2022-06-16 10:08:57.000000,Safaricom PLC,uncategorised
18893,rQ8AYG8KVQo,UCoqhYEFzLMs2KYdih18I3yQ,Lewa Safari Marathon | Community Development,We continue to transform the lives of Lewa Wil...,2022-06-16 10:25:31.000000,Safaricom PLC,uncategorised
18894,8D2dUg6ES1w,UCsPAkDXtXXKbsAFZVHuElKA,Padi Wubonn PEACE PRINT Official video Nairob...,"#peaceprint #mypeaceprint \nI'm walking on , I...",2022-06-16 09:19:42.000000,Padi Wubonn,music
18895,L_7Q8FYzHT0,UC3REin1loCe8bxtZJClwZ2A,Azar Anwar - The King of Black Soil Rallying,The Safari Rally according to Rally Legend Aza...,2022-06-16 11:04:06.000000,KCB Group,uncategorised

### 1. For each channel, how many videos have they published per channel, when did they last publish and how many videos a month have they published on average

In [6]:
# For each channel, how many videos have they published per channel

channel_video_df = combined_df[['video_id','name_channel']].copy()
channel_video_df.columns = channel_video_df.columns.str.replace('video_id', 'video_count')
channel_video_df.groupby(['name_channel']).count()

                             video_count
name_channel
15/34 Langata                          1
5STAR NAIROBI MUSIC ACADEMY           25
ABSENCE OF LIGHT                      10
AJ tv                                 25
ART IN MOTION                         26
...                                  ...
v3rcity                               16
versatile Kenya                        5
vicmass luodollar                    193
wahura kabutha                        38
waniz sharon                         284

[453 rows x 1 columns]

In [7]:
# when did they last publish

channel_published_df = combined_df[['name_channel', 'published']].copy()
channel_published_df['published'] = channel_published_df['published'].max()
channel_published_df.groupby('name_channel').agg(lambda col: np.sort(col.unique()).tolist())

channel_published_df = channel_published_df.groupby('name_channel')['published'].apply(lambda x: list(np.unique(x)))
channel_published_df

name_channel
15/34 Langata                  [2022-06-16 11:04:06.000000]
5STAR NAIROBI MUSIC ACADEMY    [2022-06-16 11:04:06.000000]
ABSENCE OF LIGHT               [2022-06-16 11:04:06.000000]
AJ tv                          [2022-06-16 11:04:06.000000]
ART IN MOTION                  [2022-06-16 11:04:06.000000]
                                           ...
v3rcity                        [2022-06-16 11:04:06.000000]
versatile Kenya                [2022-06-16 11:04:06.000000]
vicmass luodollar              [2022-06-16 11:04:06.000000]
wahura kabutha                 [2022-06-16 11:04:06.000000]
waniz sharon                   [2022-06-16 11:04:06.000000]
Name: published, Length: 453, dtype: object

In [8]:
# how many videos a month have they published on average

### 2. For each category, which is the most popular day in a week to publish

In [9]:
df2 = combined_df[['name_channel', 'published','category']].copy()
df2['published'] = pd.to_datetime(df2['published'])
df2['published'] = df2['published'].dt.day_name()
df2 = df2.groupby('category').agg(lambda col: np.sort(col.unique()).tolist())
df2['published']

category
music            [Friday, Monday, Saturday, Sunday, Thursday, T...
uncategorised    [Friday, Monday, Saturday, Sunday, Thursday, T...
Name: published, dtype: object

### 3. For the top ten channels by number of videos this year, how many videos did they publish each month on average

In [16]:
from datetime import *
dt = datetime.now()

df3 = combined_df[['name_channel', 'published','video_id', 'channel_id']].copy()
df3['published'] = pd.to_datetime(df3['published'])

df_current_year = df3[df3['published'].dt.year == dt.year]
df_current_year

channel_video_df = df_current_year[["video_id","name_channel", "published"]].copy()

channel_video_df['published'] = pd.to_datetime(channel_video_df['published'])

channels_df = channel_video_df.groupby(["name_channel", pd.Grouper(key='published', freq='M')]).count()
channels_df["video_id"].nlargest(n=10)

name_channel           published
Business Daily Africa  2022-03-31    114
                       2022-01-31    108
                       2022-02-28    108
                       2022-04-30     95
                       2022-05-31     81
Safaricom PLC          2022-03-31     80
                       2022-04-30     78
                       2022-02-28     67
                       2022-05-31     52
vicmass luodollar      2022-04-30     41
Name: video_id, dtype: int64

### 4. For each channel , how many videos have a description, what is the shortest description, the longest, average length of descriptions for each channel.

In [18]:
# how many videos have a description

df4 = combined_df[combined_df["description"].str.len() > 0]
df4["video_id"].count()

16040

In [21]:
# what is the shortest description

new_df = df4.loc[df4['description'].str.len().groupby(df4['channel_id']).idxmin()]
new_df['description'].iloc[0]

'Okra'

In [22]:
# what is the longest description

new_df2 = df4.loc[df4['description'].str.len().groupby(df4['channel_id']).idxmax()]
new_df2['description'].iloc[0]

"Kyki being the first Femcee to counter Femi one's Pilau njeri .In this track Kyki mentions a few names to re affirm her position as Kenya's number one female rapper based on merit and not Hype.She uses this opportunity to show her lyrical prowess and the hidden talent of underrated Artists who do not get airplay.This piece of music may elicit emotions and reactions it's nothing personal,but a wake up call for the artists that have done little or nothing to change the industry and rekindle the desire in fans that have the desire to settle for less when their favorite femcee graces the stage.\n\nThis video was directed by  DirectorS,it is a visualization of the state of the music industry ;"

In [27]:
# average length of descriptions for each channel

### 5. For each channel in every month what is the difference between videos produced that month and the monthly average produced that month

In [165]:
df5 = combined_df[['video_id','name_channel', 'channel_id', 'published']].copy()

df5['published'] = pd.to_datetime(df['published'])
df5['date_m'] = df5['published'].dt.to_period('M')

df5.groupby(['name_channel', 'date_m']).agg(videos_count = ('video_id', 'count'))

      videos_count
mean      3.497316

In [166]:
df5

,video_id,name_channel,channel_id,published,date_m
0,PMnnbFfoQiw,5STAR NAIROBI MUSIC ACADEMY,UCjry95m1BJizBQM8CB-tcng,2020-12-19 14:30:13,2020-12
1,m0XPxnpqgz8,5STAR NAIROBI MUSIC ACADEMY,UCjry95m1BJizBQM8CB-tcng,2020-11-22 13:00:10,2020-11
2,HoxuyBLd8F8,5STAR NAIROBI MUSIC ACADEMY,UCjry95m1BJizBQM8CB-tcng,2020-09-13 15:15:09,2020-09
3,5gqKoCnkp4I,5STAR NAIROBI MUSIC ACADEMY,UCjry95m1BJizBQM8CB-tcng,2020-02-09 06:56:14,2020-02
4,nZIkh17LsEE,5STAR NAIROBI MUSIC ACADEMY,UCjry95m1BJizBQM8CB-tcng,2020-02-02 19:44:58,2020-02
...,...,...,...,...,...
18891,XFQiNVWqZJc,Flaqo Raz,UCjG66-ryVCszrs7k_Y2pn3Q,2022-06-16 08:45:10,2022-06
18892,kHfEfFh8Wjw,Safaricom PLC,UCoqhYEFzLMs2KYdih18I3yQ,2022-06-16 10:08:57,2022-06
18893,rQ8AYG8KVQo,Safaricom PLC,UCoqhYEFzLMs2KYdih18I3yQ,2022-06-16 10:25:31,2022-06
18894,8D2dUg6ES1w,Padi Wubonn,UCsPAkDXtXXKbsAFZVHuElKA,2022-06-16 09:19:42,2022-06
18895,L_7Q8FYzHT0,KCB Group,UC3REin1loCe8bxtZJClwZ2A,2022-06-16 11:04:06,2022-06